env/*
__pycache__
.DS_Store

Koala-manygen/lib
_html_results/
_plot_result/
_csv_result/
_supergraph_result/

*.class

.metadata

## 絶対パスを記したファイル, ローカルで指定
constants.py
ResourceFile.java
ResourceFile.class

# 実行のたびに結果が変わるのでgitignoreに追加
data/community_csv/coauthors_community.csv
data/Cit-HepPh/*
data/facebook/*
data/timesmoothnessSample/*

data/graph_info_*.json


Koala-manygen/layoutsToEvaluate
